<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <form method="post" action="/user">
        Enter Username  <input type="text" name="username" placeholder="Enter username"><br><br>
        Enter email  <input type="email" name="email" placeholder="xyz@gmail.com"><br><br>
        Create Password  <input type="password" name="password" placeholder="Create a password"><br><br>
        <button>Submit</button>
    </form>
</body>
</html>